In [11]:
import pandas as pd

In [12]:
path = "/home/pydev/Music/work_files/latest_broko_code/"
df = pd.read_csv(path + "Dataset/condo_dataset.csv")
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76041 entries, 0 to 76040
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ML_Number                  76041 non-null  object
 1   _Listing_Price             74902 non-null  float64
 2   Air_Conditioning           73039 non-null  object
 3   Approx_Square_Footage      74897 non-null  object
 4   Basement1                  76041 non-null  object
 5   Bedrooms                   76041 non-null  int64
 6   Days_On_Market             76041 non-null  float64
 7   Exterior1                  75901 non-null  object
 8   Garage_Type                67170 non-null  object
 9   Heat_Included              76041 non-null  object
 10  Heat_Type                  76040 non-null  object
 11  Locker                     44731 non-null  object
 12  Maintenance                76041 non-null  float64
 13  Parking_Included           76041 non-null  object
 14  Pets_Permitted             76007 non-null  object
 15  Rooms                      76004 non-null  float64
 16  Street_Name                76041 non-null  object
 17  Style                      76041 non-null  object
 18  Type                       76041 non-null  object
 19  Taxes                      76037 non-null  float64
 20  Washrooms                  76041 non-null  int64
 21  Water_Included             69551 non-null  object
 22  Approx_Square_Footage_Min  74896 non-null  float64
 23  Approx_Square_Footage_Max  74887 non-null  float64
 24  lat                        75996 non-null  float64
 25  lng                        75996 non-null  float64
 26  Postal_Code                75989 non-null  object
 27  Sold_Date                  76041 non-null  object
 28  Sold_Price                 76041 non-null  float64
 29  List_Price                 76041 non-null  float64
dtypes: float64(11), int64(2), object(17)
memory usage: 17.4+ MB

In [13]:
# df['Importance_Days_On_Market'] = pd.cut(
#     df['Days_On_Market'],
#     bins=[-1, 3, 8, 14, 21, 30, float('inf')],
#     labels=[1, 2, 3, 4, 5, 6],
#     right=False
# )
#Sold Date Feature
df['Sold_Date'] = pd.to_datetime(df['Sold_Date'])
df['Year'] = df['Sold_Date'].dt.year
df['Month'] = df['Sold_Date'].dt.month
df['Day'] = df['Sold_Date'].dt.day

drop_cols = ['Sold_Date', "Approx_Square_Footage_Min", "Approx_Square_Footage_Max", "Style","Type","Basement1", "Exterior1", "_Listing_Price"]
df = df.drop(drop_cols, axis=1)
df.isnull().sum()

ML_Number                    0
Air_Conditioning          3002
Approx_Square_Footage     1144
Bedrooms                     0
Days_On_Market               0
Garage_Type               8871
Heat_Included                0
Heat_Type                    1
Locker                   31310
Maintenance                  0
Parking_Included             0
Pets_Permitted              34
Rooms                       37
Street_Name                  0
Taxes                        4
Washrooms                    0
Water_Included            6490
lat                         45
lng                         45
Postal_Code                 52
Sold_Price                   0
List_Price                   0
Year                         0
Month                        0
Day                          0
dtype: int64

In [14]:
data = df.dropna(axis = 0, how ='any')

In [15]:
data.isnull().sum()

ML_Number                0
Air_Conditioning         0
Approx_Square_Footage    0
Bedrooms                 0
Days_On_Market           0
Garage_Type              0
Heat_Included            0
Heat_Type                0
Locker                   0
Maintenance              0
Parking_Included         0
Pets_Permitted           0
Rooms                    0
Street_Name              0
Taxes                    0
Washrooms                0
Water_Included           0
lat                      0
lng                      0
Postal_Code              0
Sold_Price               0
List_Price               0
Year                     0
Month                    0
Day                      0
dtype: int64

In [16]:
# df.dropna(subset=['_Listing_Price', 'Air_Conditioning', 'Approx_Square_Footage', 'Exterior1', 'Garage_Type', 'Locker' ,'Pets_Permitted', 'Rooms', 'Water_Included', 'Approx_Square_Footage_Min', 'Approx_Square_Footage_Max', 'lat','lng','Postal_Code'], inplace=True)

In [17]:
data.to_csv(path + "/Dataset/condo_dataset_rmnull.csv",index=False)