In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/Users/thrilok/Desktop/mantra_collab_job/work_files/latest_broko_code/Dataset/residential_dataset.csv")
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182236 entries, 0 to 182235
Data columns (total 25 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   ML_Number                  182236 non-null  object
 1   _Listing_Price             166849 non-null  float64
 2   Approx_Square_Footage      94114 non-null   object
 3   Basement1                  182236 non-null  object
 4   Bedrooms                   182236 non-null  int64
 5   Days_On_Market             182235 non-null  float64
 6   Exterior1                  181091 non-null  object
 7   Garage_Type                154610 non-null  object
 8   Rooms                      181305 non-null  float64
 9   Street_Name                182092 non-null  object
 10  Style                      182236 non-null  object
 11  Type                       182236 non-null  object
 12  Taxes                      182198 non-null  float64
 13  Washrooms                  182236 non-null  int64
 14  Approx_Square_Footage_Min  93662 non-null   float64
 15  Approx_Square_Footage_Max  93046 non-null   float64
 16  lat                        182218 non-null  float64
 17  lng                        182218 non-null  float64
 18  Lot_Depth                  180205 non-null  float64
 19  Lot_Front                  181731 non-null  float64
 20  Lot_Size_Code              170728 non-null  object
 21  Postal_Code                182007 non-null  object
 22  Sold_Date                  182235 non-null  object
 23  Sold_Price                 182234 non-null  float64
 24  List_Price                 182236 non-null  float64
dtypes: float64(12), int64(2), object(11)
memory usage: 34.8+ MB

In [3]:
# df['Importance_Days_On_Market'] = pd.cut(
#     df['Days_On_Market'],
#     bins=[-1, 3, 8, 14, 21, 30, float('inf')],
#     labels=[1, 2, 3, 4, 5, 6],
#     right=False
# )
#Sold Date Feature
df['Sold_Date'] = pd.to_datetime(df['Sold_Date'])
df['Year'] = df['Sold_Date'].dt.year
df['Month'] = df['Sold_Date'].dt.month
df['Day'] = df['Sold_Date'].dt.day

drop_cols = ['ML_Number','Sold_Date', "Approx_Square_Footage_Min", "Approx_Square_Footage_Max", "Style","Type","Basement1", "Exterior1", "_Listing_Price"]
df = df.drop(drop_cols, axis=1)
df.isnull().sum()

Approx_Square_Footage    88122
Bedrooms                     0
Days_On_Market               1
Garage_Type              27626
Rooms                      931
Street_Name                144
Taxes                       38
Washrooms                    0
lat                         18
lng                         18
Lot_Depth                 2031
Lot_Front                  505
Lot_Size_Code            11508
Postal_Code                229
Sold_Price                   2
List_Price                   0
Year                         1
Month                        1
Day                          1
dtype: int64

In [4]:
data = df.dropna(axis = 0, how ='any')

In [5]:
data.isnull().sum()

Approx_Square_Footage    0
Bedrooms                 0
Days_On_Market           0
Garage_Type              0
Rooms                    0
Street_Name              0
Taxes                    0
Washrooms                0
lat                      0
lng                      0
Lot_Depth                0
Lot_Front                0
Lot_Size_Code            0
Postal_Code              0
Sold_Price               0
List_Price               0
Year                     0
Month                    0
Day                      0
dtype: int64

In [6]:
# df.dropna(subset=['_Listing_Price', 'Air_Conditioning', 'Approx_Square_Footage', 'Exterior1', 'Garage_Type', 'Locker' ,'Pets_Permitted', 'Rooms', 'Water_Included', 'Approx_Square_Footage_Min', 'Approx_Square_Footage_Max', 'lat','lng','Postal_Code'], inplace=True)

In [7]:
data.to_csv("/Users/thrilok/Desktop/mantra_collab_job/work_files/latest_broko_code/Dataset/residential_dataset_rmnull.csv",index=False)